# Whitelist repo files
!.gitignore
!README.md
!.github/*
!LICENSE
!CODEOWNERS

# Whitelist config files
!config/*
!kubejs/*
!defaultconfigs

# Blacklist files not modified
.curseclient
crash-reports/*
downloads/*
fancymenu_data/*
gtceu/*
kubejs/README.txt
ldlib/*
local/*
logs/*
modernfix/*
mods/*
resourcepacks/*
saves/*
screenshots/*
shaderpacks/*
xaero/*
XaeroWaypoints_BACKUP240807/*
emi.json
malum_extra.json
minecraftinstance.json
options.txt
rhino.local.properties
user-prefs.json
usercache.json
usernamecache.json

# Remove MacOS generated index files
*/.DS_Store
.DS_Store
.DS_Store?
.Trashes
Icon?
